:global(body) {
  font-family: Arial, Helvetica, sans-serif;
}

:global(*) {
  box-sizing: border-box;
}

:global(img) {
  max-width: 100%;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.logoHolder {
  display: inline-block;
  width: 35%;
  padding-right: 2em;
}

.logo {
  width: 100%;
  display: inline-block;
}

.titleHolder {
  display: inline-block;
  width: 65%;
}

@media only screen and (max-width: 500px) {
  .logo {
    margin-right: 0;
  }

  .titleHolder,
  .logoHolder {
    width: 100%;
    display: block;
  }
}

.priceBox {
  display: flex;
  font-size: 20px;
  font-weight: bold;
  align-items: center;
}

.priceText {
  padding-left: 2em;
}

.priceBox span {
  font-size: 40px;
}

.priceBox div {
  width: 50%;
}

h1 {
  color: #15a0d5;
  font-size: 40px;
  text-transform: uppercase;
}

.subtitle {
  color: #15a0d5;
  font-size: 25px;
  font-weight: bold;
}

.field {
  width: 100%;
  display: block;
  border: 2px solid black;
  font-size: 1.2em;
  padding: 0.5em;
}

.button {
  margin-top: 2em;
  width: 100%;
  display: block;
  border: 2px solid black;
  font-size: 1em;
  padding: 0.5em;
  cursor: pointer;
}

.followUs {
  text-decoration: none;
}

.followUs img {
  height: 1.5em;
  margin-right: 1em;
}

.followUs span {
  font-weight: bold;
}
